{% extends "notes/base.html" %}

{% block title %}{{ note.title }}{% endblock %}

{% block content %}
    <article>
        <h2>{{ note.title }}</h2>

        <p>{{ note.body|linebreaksbr }}</p>

        <p class="note-meta">
            Created: {{ note.created_at }}<br>
            Updated: {{ note.updated_at }}<br>
            Status:
            {% if note.is_public %}
                Public
            {% else %}
                Private
            {% endif %}
        </p>

    <p class="note-actions">
        {% if note.is_public %}
            <a
                class="action-button action-public"
                href="{% url 'public_note_detail' note.id %}"
            >
                Public version
            </a>
        {% endif %}

        <a
            class="action-button action-edit"
            href="{% url 'note_edit' note.id %}"
        >
            Edit
        </a>

        <a
            class="action-button action-delete"
            href="{% url 'note_delete' note.id %}"
        >
            Delete
        </a>

        <a
            class="action-button action-back"
            href="{% url 'note_list' %}"
        >
            Back to notes
        </a>
    </p>
    </article>
{% endblock %}